{% load bootstrap3 %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <style>
        footer {
              position: absolute;
              bottom: 0;
              width: 100%;
              border-top: solid 1px gray;
              /* Set the fixed height of the footer here */
              height: 50px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Google Shopping Interface</a>
    </div>
      <ul class="nav navbar-nav">
      <li class="divider"></li>
      <li><a href="{% url 'oauth2:index' %}">Update product</a></li>
      <li><a href="{% url 'oauth2:add' %}">Add product</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li class="divider"></li>
          <li><a>Merchant ID: {{ merchant_id }}</a></li>
      </ul>

  </div><!-- /.container-fluid -->
</nav>
<div class="container">
<div class="row">
{% if messages %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
{% endif %}
<div class="col-md-3 col-md-offset-1">
<legend>Update product</legend>
<form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        <label for="product_id">Product ID</label>
        {{ form.product_id|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        {{ form.price|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label for="currency">Currency</label>
        {{ form.currency|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label for="availability">Availability</label>
        {{ form.availability|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        {{ form.quantity|attr:"class:form-control" }}
    </div>
    <div class="form-group">
        <button class="btn btn-small btn-success" type="submit">Update product</button>
    </div>
</form>
</div>
<div class="col-md-5 col-md-offset-1">
<legend>Your products</legend>
{% if product_list %}
    <table class="table">
    <td>ID</td>
    <td>Title</td>
    <td>Price</td>

{% for product in product_list %}
    <tr>
    <td>
        {{ product.id }}
    </td>
    <td>
        {{ product.title }}
    </td>
    <td>
        {{ product.price.value }} {{ product.price.currency }}
    </td>

    </tr>
{% endfor %}
    </table>
{% else %}
    <span>You have no products</span>
{% endif %}

</div>
</div>
</div>
<footer class="footer">
      <div class="container">
        <p class="text-muted">Place footer content here.</p>
      </div>
</footer>
</body>
</html>